$dark-shades: #444978;
$light-accent: #F8F8F7;
$grey-accent: #B0AEAE;
$main-color: #D95F4F;
$default-text: #2F2F2F;
/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.App {
  position: relative;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;

}

.main-content {
  padding-bottom: 100px;
}

//Reusable classes
.input {
  background: none;
  border: none;
  height: 40px;
  font-size: 14px;
  line-height: 5px;
  padding: 20px 20px 20px 0px;
  border-bottom: 2px $default-text solid;
  width: 100%;
}

.input:active, .input:focus {
  outline: none;
}

.section-title {
  color: $dark-shades;
  font-size: 24px;
  padding-bottom: 20px;
}

.container {
  padding: 20px;
}

//NAVBAR =======================================

.navbar-link {
  text-decoration: none;
  color: $default-text;
}

@media only screen and (max-width: 765px) {
  .navbar {
    padding: 20px 0px 20px 0px;
    
    
  
    .navbar-logos {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      cursor: pointer;
      align-items: center;
      .navbar-logo {
        color: $dark-shades;
        font-weight: 700;
      }
    }
  
    .navbar-search {
      color: $main-color;
      transition: .6s;
    }
  
    .navbar-search-section {
      display: flex;
      align-items: center;
      margin-left: 45px;
      margin-right: 40px;
      position: relative;
      opacity: 0;
      max-height: 0px;
      z-index: -1;
      transition: .6s ease-out;
      
    }
  
    .navbar-search-section-active {
      opacity: 1;
      max-height: 500px;
      z-index: 0;
      transition: .6s ease-in;    
    }
  
    .search-active {
      position: relative;
      opacity: 0;
      transform: rotate(45deg) translateY(40px);
      transition: .6s;
    }
  
    .navbar-items {
      display: flex;
      position: fixed;
      width: 0px;
      top: 0;
      left: -100px;
      flex-flow: column nowrap;
      align-items: center;
      padding-top: 30%; 
      z-index: 1;
      height: 100vh;
      background-color: $dark-shades;
      transition: .7s;
    }
  
    .navbar-item {
      text-decoration: none;
      color: $light-accent;
      margin-bottom: 20px;
      text-align: initial;
      width: 50%;
      cursor: pointer;
      transition: .07s;
    }
  
    .close-menu-icon {
      display: none;
      color: $main-color;
      align-self: flex-start;
      position: absolute;
      top: 25px;
      left: 40px;
      cursor: pointer;
    }
  
    .menu-open {
      width: 90%;
      left: 0;
    }

    .menu-open-icon {
      display: block;
    }
  }
}

//Common navbar classes.
.navbar {
  
  .active-link {
    color: $main-color;
  }
}


//HOME PAGE =============================================


//ITEM CARD ==============================================
.item-card-container{
  display: grid;
  grid-row-gap: 20px;
}


.item-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: #F8F8F7;
  border-radius: 20px;
  box-shadow: 7px 9px 16px 0px rgba(0, 0, 0, 0.31);
  min-width: 310px;
}

.item-card-body {
  padding: 10px;
}

.item-card-desc {
  padding-left: 10px;
  font-size: 12px;
}

.item-card-count {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-bottom: 10px;
  color: $main-color;
  font-size: 16px;
  .item-card-count-logo {
    margin-right: 10px;
    width: 20px;
  }
  span {
    font-size: 24px;
  }
}

.item-card-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.item-card-title {
  text-decoration: none;
  color: $dark-shades;
  font-size: 16px;
  font-weight: bold;
}

.item-card-time {
  color: $grey-accent;
}
.item-card-img {
  max-width: 286px;
  overflow: hidden;
  margin-left: 10px;
}



//ITEM PAGE=====================================================================================================================
.item-page {
  display: grid;
  grid-template-areas: 
    "img"
    "description"
}
.item-page-img{
  grid-area: img;
  width: 100vw;
  height: 250px;
  overflow: hidden;
}
.item-page-header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 0px 40px;
  margin: 50px 0px;
  .section-title {
    padding-bottom: 0px;
  }
}

.item-page-description {
  padding: 0px 40px;
}

.item-page-contact-info {
  min-height: 203px;
  background-color: $dark-shades;
  border-radius: 20px;
  margin: 40px 10px; 
  display: flex;
  flex-flow: column nowrap;
  color: $light-accent;

  .line {
    height: 1px;
    margin: 20px 0px;
    background-color: $grey-accent;
    align-self: center;
    width: 90%;
    color: $grey-accent;
  }
}

.item-page-container {
  padding-left: 20px;
}

.item-page-spacer { 
  padding: 20px 20px;

}

.contact-card-title {
  padding-top: 20px;
  color: $main-color;
  align-self: center;
}

.item-page-subtitle {
  padding-bottom: 10px;
}

.location-info {
  font-weight: 100;
}

//FOOTER =======================================================================================================================
.footer {
  background-color: $dark-shades;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100vw;
  a {
    text-decoration: none;
    color: $main-color;
    padding-left: 5px;
  }

  a:hover {
    cursor: pointer;
  }
}




//Tablet
@import './styles/tabletStyles.scss';
@import './styles/desktopStyles.scss';
