$dark-shades: #444978;
$light-accent: #F8F8F7;
$main-color: #D95F4F;
$default-text: #2F2F2F;
/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
/* inherit border-box on all elements in the universe and before and after
 */
*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

//Reusable classes
.input {
  background: none;
  border: none;
  height: 40px;
  font-size: 14px;
  line-height: 5px;
  padding: 20px 20px 20px 0px;
  border-bottom: 2px $default-text solid;
  width: 100%;
}

.input:active, .input:focus {
  outline: none;
}

.navbar {
  padding: 20px 0px 20px 0px;
  
  //Common navbar classes.
  .navbar-link {
    text-decoration: none;
    color: $default-text;
  }

  .navbar-logos {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    cursor: pointer;
    align-items: center;
    .navbar-logo {
      color: $dark-shades;
      font-weight: 700;
    }
  }

  .navbar-search {
    color: $main-color;
    transition: .6s;
  }

  .navbar-search-section {
    display: flex;
    align-items: center;
    margin-left: 45px;
    margin-right: 40px;
    position: relative;
    opacity: 0;
    max-height: 0px;
    z-index: -1;
    transition: .6s ease-out;
    
  }

  .navbar-search-section-active {
    opacity: 1;
    max-height: 500px;
    z-index: 0;
    transition: .6s ease-in;    
  }

  .search-active {
    position: relative;
    opacity: 0;
    transform: rotate(45deg) translateY(40px);
    transition: .6s;
  }

  .navbar-items {
    display: flex;
    position: fixed;
    width: 0px;
    top: 0;
    left: -100px;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 30%; 
    z-index: 1;
    height: 100vh;
    background-color: $dark-shades;
    transition: .7s;
  }

  .navbar-item {
    text-decoration: none;
    color: $light-accent;
    margin-bottom: 20px;
    text-align: initial;
    width: 50%;
    cursor: pointer;
  }

  .close-menu-icon {
    display: none;
    color: $main-color;
    align-self: flex-start;
    position: absolute;
    top: 25px;
    left: 40px;
    cursor: pointer;
  }

  .menu-open {
    width: 90%;
    left: 0;
  }

  .menu-open-icon {
    display: block;
  }

  .active-link {
    color: $main-color;
  }
}


